body {
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    background-color: #244c72;
    color: #c2b943;
}
button {
    padding: 5px;
    background-color: #46484b;
    color: #e7dc45;
    border: black solid 1px;
    border-radius: 10px;
}
img {
    height: 200px;
    width: 368px;
}
.first{
    clear: left;
}
.carcontainer{
    float: left;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: #346594;
    border: black solid 2px;
    border-radius: 10px;
}
.multiple {
    height: 330px;
    width: 400px;
}
.current {
    height: 160px;
    width: 400px;
}
